{% set classes = [
  'list',
  text_size ? 'list--' ~ text_size,
  display ? 'list--' ~ display,
  columns ? 'list--columns-' ~ columns,
  text_color ? 'u-c-' ~ text_color,

] | merge(classes|default([])) %}

{% if display == 'ordered' %}
  {% set listType = 'ol'%}
{% else %}
  {% set listType = 'ul' %}
{% endif %}

<div class="{{ classes|join(' ') }}">
  {% if listType %}
    <{{listType}}>
  {% endif %}
    {% for item in items %}
      {% if item.url %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% else %}
        <li>{{ item.text }}</li>
      {% endif %}
    {% endfor %}
  {% if listType %}
    </{{listType}}>
  {% endif %}
</div>
