{% set classes = [
  'bio-block',
] %}

{% set imgSrc = img is iterable ? img.src : img %}

<div class="{{ classes|join(' ') }}">
  <div class="bio-block__image" style="background-image: url({{ imgSrc }})">

  </div>
  <div class="bio-block__text">
    <h3 class="bio-block__name">{{ name }}</h3>
    <h4 class="bio-block__role">{{ role }}</h4>
    <a
      href="https://twitter.com/{{ twitter }}"
      target="_blank"
      class="bio-block__twitter"
    >
      {% if twitter %}
      @{{ twitter }}
      {% endif %}
    </a>
  </div>
</div>
