{% set classes = [
  'exec-bio',
  is_even ? 'exec-bio--even' : 'exec-bio--odd',
] | merge(classes|default([])) %}


<div class="{{ classes|join(' ') }}">

  {% if avatar %}
  <div class="exec-bio__avatar">
    {% include '@components/_avatar.twig' with {
    size: 'jumbo',
    img: avatar,
    } only %}
  </div>
  {% endif %}

  {% if name %}
  <h2 class="exec-bio__name">{{ name }}, {% if role %}{{ role }}{% endif %}</h2>
  {% endif %}
  {% if twitter %}
  <p class="exec-bio__twitter" data-linkto="https://twitter.com{{twitter}}">@{{ twitter }}</p>
  {% endif %}
  <div class="exec-bio__text">
    {% if bio %}
      <p class="exec-bio__bio">{{ bio }}</p>
    {% endif %}
  </div>

</div>
