<label class="form-item">
  {% if label %} <div class="form-item__label">{{ label }}</div> {% endif %}
  {% if type == 'textarea' %}
    <textarea
      class="form-item__item form-item__item--textarea"
      name="{{ name }}"
      id="form-{{ name }}"
      rows="{{ rows|default('5') }}">
    </textarea>
  {% elseif type == 'submit' %}
    <input
      aria-label="submit button"
      class="button button--size-medium button--color-blue form-item__item form-item__item--submit"
      type="submit"
      name="{{ name }}"
      id="form-{{ name }}"
      value="{{ value }}"
    >
  {% else %}
    <input
      class="form-item__item form-item__item--input"
      type="{{ type|default('text') }}"
      name="{{ name }}"
      id="form-{{ name }}"
      placeholder="{{ placeholder|default(label) }}"
    >
  {% endif %}
</label>
