<p>Color is a defining element of any strong brand identity. Dedicated use of the Basalt palette with reinforce the cohesiveness of the brand and visually communicates your brand personality with your audience.</p>
<p>The Basalt palette is a 5 color structure that contains two light tones, two dark tones and a brighter spot color. Together they channel natural elements while staying energetic and active creating balance and speaking to the Basalt brand story.</p>

<ul class="sg-colors">
  {% for item in items %}
    <li>
      <div class="sg-swatch" style="background: {{item.value}};"></div>
      <div class="sg-info">
        <span>{{item.value}}</span> <br/>
        <code>{{item.name}}</code>
        {% if item.comment %}<div class="comment">{{ item.comment }}</div>{% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
{% if meta %}
  <p> <small>{{ meta.description }}</small> </p>
{% endif %}
