{% set classes = [
  'media-tile',
  text_align ? 'u-text-align-' ~ text_align|default('center'),
  image_overlay ? 'media-tile--overlay-' ~ image_overlay,
  border_color ? 'media-tile--border-' ~ border_color,
  bg_color ? 'u-bg-' ~ bg_color,
  full_width ? 'u-full-width',
  min_height ? 'es--' ~ min_height,

] | merge(classes|default([])) %}

{% set imgSrc = background_image is iterable ? background_image.src : background_image %}

<div 
  class="{{ classes|join(' ') }}"
  {% if url %} data-linkto="{{ url }}" {% endif %}
  {% if imgSrc %} style="background-image: url({{ imgSrc }});" {%  endif %}
  tabindex="0"
  >

  <div class="media-tile__content">
    {% if title %}
      {% set title_classes = [
        'media-tile__title',
        title_text_color ? 'u-c-' ~ title_text_color,
        title_size ? 'h' ~ title_size,
      ] %}
      <h2 class="{{ title_classes|join(' ') }}">{{ title }}</h2>
    {% endif %}

    {% if body %}
      {% set body_classes = [
        'media-tile__body',
        body_bg_color ? 'u-bg-' ~ body_bg_color,
        body_text_color ? 'u-c-' ~ body_text_color,
        body_text_size ? 'media-tile__body--' ~ body_text_size,
      ] %}
      <div class="media-tile__body {{ body_classes| join(' ') }}">{{ body|raw }}</div>
    {% endif %}
    {% if buttons %}
      <div class="media-tile__buttons">
        {% for button in buttons %}
          {% include '@components/button.twig' with button only %}
        {% endfor %}
      </div>
    {% endif %}
    {% if list %}
      <div class="media-tile__list">
        {% include '@components/list.twig' with list only %}
      </div>
    {% endif %}
  </div>
</div>
