{% set text = text | default('MUST PROVIDE BUTTON TEXT') %}
{% set target = link_openNewTab ? '_blank' : '_self' %}
{% set classes = [
  'crux-btn',
  is_primary ? 'crux-btn--primary' : '',
  is_block ? 'crux-btn--block' : '',
  extraClasses | default(''),
] %}

<a
  class="{{ classes | join (' ') }}"
  href="{{ link_url | default('#0') }}"
  alt="{{ link_alt | default('') }}"
  target="{{ target }}"
  rel="noopener"
>{{ text }}</a>
