{% extends "@templates/site-layout.twig" %}
{% block content %}

  <p>{{ random(paragraphs) }}.{{ random(paragraphs) }}.{{ random(paragraphs) }}.{{ random(paragraphs) }}.{{ random(paragraphs) }}</p>
  {% include "@molecules/forms/insightly-forms.twig" %}

{% endblock %}
