{% set classes = [
  'crux-grid',
  hasNoMargin ? 'crux-grid--no-margin' : 'crux-grid--margin',
] %}

<div class="{{ classes|join(' ') }}"
  {% if types.small %}data-grid-type-small="{{ types.small }}"{% endif %}
  {% if types.medium %}data-grid-type-medium="{{ types.medium }}"{% endif %}
  {% if types.large %}data-grid-type-large="{{ types.large }}"{% endif %}
  {% if gutter %}data-grid-gutter="{{ gutter }}"{% endif %}
>
  {% for item in items %}
    <div class="crux-grid__item">
      {{ item }}
    </div>
  {% endfor %}
</div>
