{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  'blog-teaser',
  is_even ? 'blog-teaser--even' : 'blog-teaser--odd',
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

<a href="{{ url }}" class="{{ classes|join(' ') }}">

  <div class="blog-teaser__content">

    {% if title %}
      <h2 class="blog-teaser__title">{{ title }}</h2>
    {% endif %}

    {% if author %}
      <h3 class="blog-teaser__author">by {{ author }}
      </h3>
      {% if teaser_avatar %}
        {% include '@components/_avatar.twig' with {
        size: 'm',
        img: teaser_avatar,
        } only %}
      {% endif %}
    {% endif %}

    {% if date %}
      <div class="blog-teaser__date">{{ date }}</div>
    {% endif %}

    {% if summary %}
      <div class="blog-teaser__summary">{{ summary|striptags }}</div>
    {% endif %}

    <div class="blog-teaser__read-more">Read the full story</div>

  </div>

  {% if image %}
    {% include '@styleguide/_img.twig' with {
      bg: true,
      class: 'blog-teaser__image',
      img: image,
    } %}
  {% endif %}

</a>
