{% set buttons = buttons|default([]) %}
{% set classes = [
  'hero',
  'hero--alignment-all-' ~ alignment_all|default('center'),
  'u-full-width',
  is_homepage ? 'hero--homepage',
  text_color ? 'u-c-' ~ text_color,
  thinner ? 'hero--thinner',
  bg_color ? 'u-bg-' ~ bg_color : image_overlay ? 'hero--overlay-' ~ image_overlay,
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

<div class="{{ classes|join(' ') }}"{% if not bg_color %} style="background-image: url({{ image }});"{% endif %}>

  <div class="hero__inner">
    {% if title %}
      <h1 class="hero__title">{{ title }}</h1>
    {% endif %}

    {% if body or buttons %}
      <div class="hero__content {% if content_classes %}{{ content_classes|join(' ') }}{% endif %}">
        {% if body %}
          <div class="hero__body">
            <p>{{ body|raw }}</p>
          </div>
        {% endif %}
      </div>
    {% endif %}

  </div>

</div>
{# {{ validate_data_schema('@components/hero-schema.js', _self) }} #}
