{% set classes = [
  'cta',
  'u-full-width',
] | merge(classes|default([])) %}

<section 
  id="cta" 
  class="{{ classes|join(' ') }}"
  role="contact us"
  >
  <div class="cta__inner u-site-container">
  <div class="cta__info">
    <h3>{{ header_text }}</h3>
    <div 
      data-linkto="{{ address_link }}" 
      class="cta__address"
      tabindex="0"
      >
      <p>{{ address_one }}</p>
      <p>{{ address_two }}</p>
    </div>
    <p class="cta__tel">Tel: <a href="tel: {{ telephone }}">{{ telephone }}</a></p>
  </div>
  {% include '@components/_contact-form--simple.twig' %}
  </div>
</section>
