{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  '<%= name.dash %>',
<% modifiers.forEach((modifier) => { -%>
  <%= modifier.under %> ? '<%= name.dash %>--<%= modifier.dash%>',
<% }); -%>
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

<div class="{{ classes|join(' ') }}">
<% elements.forEach((element) => { %>
  {% if <%= element.under %> %}
    <div class="<%= name.dash %>__<%= element.dash %>">{{ <%= element.under %> }}</div>
  {% endif %}
<% }); %>
</div>
