{% set classes = [
  'list',
  text_size ? 'list--' ~ text_size,
  bullets ? 'list--bullets' : ordered ? 'list--ordered' : 'list--plain',
  columns ? 'list--columns-' ~ columns,
  text_color ? 'u-c-' ~ text_color,

] | merge(classes|default([])) %}

{% set listType = ordered ? 'ol' : 'ul' %}

<div class="{{ classes|join(' ') }}">
  {% if listType %}
    <{{listType}}>
  {% endif %}
    {% for item in items %}
      {% if item.url %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% else %}
        <li>{{ item.text }}</li>
      {% endif %}
    {% endfor %}
  {% if listType %}
    </{{listType}}>
  {% endif %}
</div>
