{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  'site-header',
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

<input hidden type="checkbox" id="site-header-toggle" class="site-header-toggle">
<header class="{{ classes|join(' ') }}">

    <a class="site-header__logo" href="/">
      {{ source('@svgs/logo.svg') }}
    </a>
    <label tabindex="0" for="site-header-toggle" class="site-header__button icon--menu">
        <span class="u-hide expanded-text">navigation menu expanded</span>
        <span class="u-hide collapsed-text">navigation menu collapsed</span>
    </label>
  {% if menu_items %}
    <nav class="site-header__menu">
      <ul class="main-menu">
        {% for item in menu_items %}
          <li class="main-menu__item">
            <a href="{{ item.url }}" class="main-menu__link{% if item.sub_menu %} main-menu__link--expandable{% endif %}{% if item.active %} main-menu__link--active{% endif %}">{{ item.text }}</a>
            {% if item.sub_menu %}
              <ul class="main-menu__sub-menu" aria-label="submenu">
                {% for sub in item.sub_menu %}
                  <li class="main-menu__sub-menu__item">
                    <a href="{{ sub.url }}" class="main-menu__sub-link">{{ sub.text }}</a>
                  </li>
                 {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
